# 함수
---

## 함수 정의

In [1]:
def func_sum(num1, num2):  
    return num1+num2

In [2]:
func_sum(3, 5)

8

### 인자 X / 반환값X

In [3]:
def hello_world():
    print("Hello World")

In [4]:
a = hello_world()

Hello World

In [5]:
print(a)

None

## 인자 O  / 반환값 X

In [6]:
def hello_name(name):
    print("hello %s" % name)

In [7]:
my_name = "신윤수"
a = hello_name(my_name)

hello 신윤수

In [8]:
print(a)

None

## 인자 O  / 반환값 O

In [9]:
def func_sum(num1, num2):  
    return num1+num2

In [10]:
a = func_sum(3, 5)

In [11]:
print(a)

8

## 인자X / 반환값 O

In [12]:
import random
def make_lotto_numbers():    
    return [random.randint(1,45) for x in range(6)]

In [13]:
lotto_numbers = make_lotto_numbers()

In [14]:
lotto_numbers

[38, 40, 15, 39, 11, 11]

# 변수의 유효범위
**변수의 스코프(scope):** 변수의 관점에서의 범위. (어디까지 볼 수 있니?)  
모듈, 함수, 클래스만 scope를 가짐


**지역변수:** 함수 내에서 정의되는 변수  
**전역변수:** 함수 밖에서 정의되는 변수

In [54]:
# 전역변수 a, b
a = 1
b = 2
c = 5

In [55]:
def func1():
    a = 3
    b = 4
    print(a, b, c)
    return

In [57]:
func1()

3 4 5

In [58]:
print(a,b)

1 2

##### func2 추가

In [40]:
def func2():
    # 지역변수 a, b
    a = 5
    b = 6

    # func1 호출
    func1()

    print(a, b)

In [41]:
func2()

3 4
5 6

In [42]:
print(a,b)

1 2

In [15]:
import math
def euclidean_distance(pos1, pos2):
    # 인자가 있고(2개), return 값도 있음.
    
    if type(pos1) != type(pos2) != type(list()):
        # list 형태만 가능
        print('Error발생!')
        return None  # 생략 가능
    
    total = 0
    for p1, q1 in zip(pos1, pos2):
        total += (p1-q1)**2
    
    return math.sqrt(total)

In [16]:
pos1, pos2 = [2, 1], [5, 5]
euclidean_distance(pos1, pos2)

5.0

## 연습문제1.
사칙연산 함수만들기  
ex) calc(5, 6)  
덧셈: 11, 뺄셈: -1, 곱셈: 30, 나눗셈: 0.8333333333333334

## 연습문제2.
해당값을 모두 찾아 위치를 리턴해주는 함수만들기  
ex)  
```
lis = [1, 2, 3, 1, 4, 2, 1]  
allindex(lis, 1)
```

[0, 3, 6]

# lambda 함수

In [63]:
(lambda x: x**2)(3)

9

In [64]:
mul_func = lambda x,y : x*y

In [65]:
mul_func(5,6)

30

## 함수 응용

### 함수값에 리스트 사용

In [66]:
def func1(a,b,c):
    return a+b+c

In [68]:
func1(0,1,2)

3

In [69]:
a = list(range(3))

In [70]:
func1(*a)

3

### 가변인수  (arguments)

In [88]:
def func2(*args):
    print(type(args))
    
    print('-'*10)
    
    for arg in args:
        print(arg)
        
    return sum(args)

In [89]:
func2(1,2,3,4)

<class 'tuple'>
----------
1
2
3
4

10

### 함께 사용

In [95]:
def func3(a, b, *args):
    print("a: {}, b: {}".format(a, b))
    print('-'*10)
    
    for arg in args:
        print(arg)
    
    return sum(args+(a,b))

In [96]:
func3(1, 2, 1,2,3,4)

a: 1, b: 2
----------
1
2
3
4

13

### 키워드 인수 & 딕셔너리 언패킹

In [99]:
def func4(name, email):
    print("이름: ", name)
    print("이메일: ", email)
    
    return {
        'name': name,
        'email': email
    }

In [101]:
func4(name="신윤수", email='tweatershin@gmail.com')

이름:  신윤수
이메일:  tweatershin@gmail.com

{'name': '신윤수', 'email': 'tweatershin@gmail.com'}

In [102]:
func4("신윤수", email='tweatershin@gmail.com')

이름:  신윤수
이메일:  tweatershin@gmail.com

{'name': '신윤수', 'email': 'tweatershin@gmail.com'}

In [104]:
func4(email='tweatershin@gmail.com', name="신윤수")

이름:  신윤수
이메일:  tweatershin@gmail.com

{'name': '신윤수', 'email': 'tweatershin@gmail.com'}

In [105]:
# 에러 발생 -> 앞에 키워드를 썼으면 뒤에도 쭉 키워드를 써야함
func4(email="tweatershin@gmail.com", "신윤수")

SyntaxError: positional argument follows keyword argument (<ipython-input-105-766ad33fa1f7>, line 2)

In [107]:
profile = {
    'email': "tweatershin@gmail.com",
    'name': "신윤수"
}

In [110]:
func4(**profile)

이름:  신윤수
이메일:  tweatershin@gmail.com

{'name': '신윤수', 'email': 'tweatershin@gmail.com'}

### 가변 키워드 인수 (keywords arguments)

In [121]:
def func5(**kwargs):
    print(type(kwargs))
    print("-"*10)
    
    print("이메일: ", kwargs['email'])
    print("이름: ", kwargs.get('name')) # get함수!

In [122]:
func5(name="신윤수", email="tweatershin@gmail.com")

<class 'dict'>
----------
이메일:  tweatershin@gmail.com
이름:  신윤수

In [123]:
func5(**profile)

<class 'dict'>
----------
이메일:  tweatershin@gmail.com
이름:  신윤수

In [124]:
# is_korean은 사용 안함.
func5(name="신윤수", email="tweatershin@gmail.com", is_korean=True)

<class 'dict'>
----------
이메일:  tweatershin@gmail.com
이름:  신윤수

In [127]:
# is_korean은 사용 안함.
func5(email="tweatershin@gmail.com")

<class 'dict'>
----------
이메일:  tweatershin@gmail.com
이름:  None

### 매개변수 초기값: default parameter

In [126]:
# default 값은 반드시 뒤에서부터(오른쪽)
# 컴퓨터는 순서를 모른다.
# func6(name="신윤수", email, age) 일 경우 생길 혼돈을 생각해보자
def func6(name, email, age=20): 
    print("이메일: ", name)
    print("이름: ", email) # get함수!
    print("나이: ", age)

In [128]:
func6("신윤수", "tweatershin@gmail.com")

이메일:  신윤수
이름:  tweatershin@gmail.com
나이:  20

In [130]:
func6("신윤수", "tweatershin@gmail.com", 30)

이메일:  신윤수
이름:  tweatershin@gmail.com
나이:  30

## 모두 다 이용해보자

In [149]:
def last_func(name, email, addr=None ,age=20, *args, **kwargs):
    print("name: ", name)
    print("email: ", email)
    print("age: ", age)
    
    if addr is None:
        addr = "서울시"
    print('addr: ', addr)
    
    print('-'*10, 'args 시작')
    for arg in args:
        print(arg)
    
    print('-'*10, 'kwargs 시작')
    for key in kwargs:
        print(key, kwargs[key])

In [150]:
last_func("신윤수", 'tweatershin@gmail.com', 30, 40, 1,2,3, is_korean=True, birth="0305")

name:  신윤수
email:  tweatershin@gmail.com
age:  40
addr:  30
---------- args 시작
1
2
3
---------- kwargs 시작
is_korean True
birth 0305

In [151]:
last_func("신윤수", 'tweatershin@gmail.com', "인천시", is_korean=True, birth="0305")

name:  신윤수
email:  tweatershin@gmail.com
age:  20
addr:  인천시
---------- args 시작
---------- kwargs 시작
is_korean True
birth 0305