# 변수의 자료형

## 숫자의 자료형
### Integer - 정수형

In [55]:
print(3)
print(type(3))

3
<class 'int'>

In [56]:
a = 3
print(a)
print(type(a))

3
<class 'int'>

### Float - 실수형

In [60]:
print(3.0)
print(type(3.0))

3.0
<class 'float'>

In [61]:
b = 3.0
print(b)
print(type(b))

3.0
<class 'float'>

### 숫자의 연산 - 정수의 연산

In [115]:
a = 5
b = 3

In [116]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)

8
2
15
1.6666666666666667

In [117]:
print(a**b)

125

In [118]:
print(a//b)

1

In [122]:
print(a%b)

2

### 숫자의 연산 - 실수의 연산

In [125]:
c = 10.0
d = 4.0

In [126]:
print(c+d)
print(c-d)
print(c*d)
print(c/d)

14.0
6.0
40.0
2.5

In [127]:
print(c**d)

10000.0

In [128]:
print(c//d)
print(c%d)

2.0
2.0

In [136]:
a = 5
b = 2
c = 10

d = a+b*c
print(d)

e = (a+b)*c
print(e)

25
70

### 연습문제
a = 7, b = 3.0 로 초기화 하고 a를 b로 나누었을 때 몫과 나머지를 각각 c와 d 라는 변수에 초기화한 후 출력하라.

그리고 e라는 변수에 a의 b제곱을 초기화하고 출력하라.

In [137]:
a,b = 7, 3.0

# 컴퓨터가 계산할 때 
# 묵시적 형변환: 정수⊂실수(Integer⊂Float)
c = a//b 
d = a%b  

print(c)
print(d)

e = a**b

print(e)

2.0
1.0
343.0

### 형변환 - Cast (type change)

**묵시적 형변환 vs 명시적 형변환**

In [141]:
a = 10
b = 3.5

In [142]:
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [148]:
## 명시적 형변환

# a를 float형으로,
a = float(a)

# b를 int형으로
b = int(b)

In [149]:
print(a)
print(b)

10.0
3

## Bool 자료형 (True&False)

In [152]:
a = True
b = False

print(a)
print(type(a))
print()
print(b)
print(type(b))

True
<class 'bool'>

False
<class 'bool'>

In [153]:
print(1 == 1) # 같나요?
print(1 != 1) # 다르나요?
print(2 > 1)  # 2가 1보다 큰가요?
print(2 <= 1) # 2가 1보다 작거나 같은가요?

True
False
True
False

In [156]:
# 숫자-> bool 형변환

print(bool(1))
print(bool(0))

True
False

## 문자열 자료형
### String

In [157]:
quote = "나는 생각한다. 고로 존재한다."

In [158]:
print(quote)
print(type(quote))

나는 생각한다. 고로 존재한다.
<class 'str'>

In [159]:
introduce = """데카르트는 1596년 3월 31일 투렌 지방(Touraine)의 투르 인근에 있는 소도시 라에
(La Haye, 현재는 그의 이름을 따서 데카르트 시로 개명함[1])의 법관 귀족 가문에서 태어났다. 

그의 아버지는 브르타뉴 지역 렌(Renne)시의 시의원이었으며, 어머니는 그가 태어난 지 14달이 못 되어 세상을 떠났다. 
이후 그는 외할머니 밑에서 자랐고, 어린 시절 몸이 무척 허약했다고 한다. 
1606년 그는 예수회가 운영하는 라 플레쉬 콜레주(Collège la Flèche)에 입학하여 1614년까지 8년간에 걸쳐 철저하게 중세식 그리고 인본주의 교육을 받았다. 
5년간 라틴어, 수사학, 고전 작가 수업을 받았고 3년간 변증론에서 비롯하여 자연철학, 형이상학 그리고 윤리학을 포괄하는 철학 수업을 받았다.
그가 이 시기에 받은 교육은 후에 그의 저서 여기저기에 흔적을 남기게 되는데 특히 《방법서설》에 많은 영향을 끼쳤다. 
라 플레쉬를 졸업한 후 푸아티에(Poitiers) 대학 법학과에 입학해 수학·자연 과학·법률학·스콜라 철학 등을 배우고, 
수학만이 명증적인 지식이라고 생각하였다. 1616년에 리상스(Licence)를 취득한다. 
이후 그는 '세상이라는 커다란 책'으로부터 실질적인 지식을 얻고자 학교 밖으로 나갔고, 다시는 제도권 교육으로 돌아오지 않았다.
졸업 후 지원병으로 입대하여 네덜란드에 갔으며, 30년 전쟁이 일어나자 독일에 출정하였다. 
1619년 네덜란드를 여행하면서 첫 작품인 짧은 《음악 개론》(Compendium Musicae)을 썼다.
"""

In [160]:
print(type(introduce))
print()
print(introduce)

<class 'str'>

데카르트는 1596년 3월 31일 투렌 지방(Touraine)의 투르 인근에 있는 소도시 라에
(La Haye, 현재는 그의 이름을 따서 데카르트 시로 개명함[1])의 법관 귀족 가문에서 태어났다.

그의 아버지는 브르타뉴 지역 렌(Renne)시의 시의원이었으며, 어머니는 그가 태어난 지 14달이 못 되어 세상을 떠났다.
이후 그는 외할머니 밑에서 자랐고, 어린 시절 몸이 무척 허약했다고 한다.
1606년 그는 예수회가 운영하는 라 플레쉬 콜레주(Collège la Flèche)에 입학하여 1614년까지 8년간에 걸쳐 철저하게 중세식 그리고 인본주의 교육을 받았다.
5년간 라틴어, 수사학, 고전 작가 수업을 받았고 3년간 변증론에서 비롯하여 자연철학, 형이상학 그리고 윤리학을 포괄하는 철학 수업을 받았다.
그가 이 시기에 받은 교육은 후에 그의 저서 여기저기에 흔적을 남기게 되는데 특히 《방법서설》에 많은 영향을 끼쳤다.
라 플레쉬를 졸업한 후 푸아티에(Poitiers) 대학 법학과에 입학해 수학·자연 과학·법률학·스콜라 철학 등을 배우고,
수학만이 명증적인 지식이라고 생각하였다. 1616년에 리상스(Licence)를 취득한다.
이후 그는 '세상이라는 커다란 책'으로부터 실질적인 지식을 얻고자 학교 밖으로 나갔고, 다시는 제도권 교육으로 돌아오지 않았다.
졸업 후 지원병으로 입대하여 네덜란드에 갔으며, 30년 전쟁이 일어나자 독일에 출정하였다.
1619년 네덜란드를 여행하면서 첫 작품인 짧은 《음악 개론》(Compendium Musicae)을 썼다.

### 문자열 연산

In [161]:
quote = "나는 생각한다. 고로 존재한다!"
speaker = 'by 데카르트'

In [162]:
print(quote+speaker)

나는 생각한다. 고로 존재한다!by 데카르트

In [163]:
### 문자열끼리 (- * / 등의)연산자들은 지원하지 않아요.
# print(quote-speaker)
# print(quote*speaker)
# print(quote/speaker)

In [164]:
print(quote * 3)

나는 생각한다. 고로 존재한다!나는 생각한다. 고로 존재한다!나는 생각한다. 고로 존재한다!

### 이스케이프 코드

- **\n:  개행**
- **\t:  탭**
- **\\\\:  슬래쉬**
- **\\':  작은 따옴표**
- **\\":  큰 따옴표**

In [165]:
quote = "나는 생각한다. 고로 존재한다!\nby 데카르트"
print(quote)

나는 생각한다. 고로 존재한다!
by 데카르트

In [166]:
quote = "나는 생각한다. 고로 존재한다!\tby 데카르트"
print(quote)

나는 생각한다. 고로 존재한다!	by 데카르트

In [234]:
quote = "나는 생각한다. 고로 존재한다!\\by 데카르트"
print(quote)

나는 생각한다. 고로 존재한다!\by 데카르트

In [238]:
quote = "'나는 생각한다. 고로 존재한다.'\"by 데카르트\""
print(quote)

'나는 생각한다. 고로 존재한다.'"by 데카르트"

## 문자열 관련 함수

### 문자열 길이: len()

In [29]:
quote = "나는 생각한다. 고로 존재한다." # white space를 포함해서 8 글자

In [30]:
len(quote)

17

### 문자열 인덱싱

In [31]:
print(quote[0])
print(quote[1])
print(quote[6])

나
는
다

In [32]:
print(quote[0:4])

나는 생

In [33]:
print(quote[3:])
print(quote[:5])

생각한다. 고로 존재한다.
나는 생각

In [34]:
print(quote[0:7:3])

나생다

In [35]:
print(quote[-1])
print(quote[-3])

.
한

In [36]:
print(quote[-3:])

한다.

In [37]:
print(quote[:])

나는 생각한다. 고로 존재한다.

In [44]:
print(quote[4: -2])
print(quote[-2])

각한다. 고로 존재한
다

### 연습문제
a="20190505chicken19000"는 잘못 쓰여진 변수이다.  
처음부터 **2019는 year이라는 변수**에, 그 다음 **0505를 day라는 변수**에,  
**chicken을 menu라는 변수**에, **19000을 money라는 변수에 각각 저장**하시오.   
**(반드시 인덱싱을 사용하시요.)**

In [46]:
a = "20190505chicken19000"

In [50]:
year = a[:4]
day = a[4:8]
menu = a[8:15]
money = a[15:]

In [51]:
print(year)
print(day)
print(menu)
print(money)

2019
0505
chicken
19000

#### 연습문제. 2
a="90:30:80"이고 :을 기준으로 각각 수학점수, 영어점수, 과학점수이다.  
**문자열 인덱싱**을 이용해 각 점수를 각각 math, english, science 변수에 저장하고,  
average 란 변수에 평균값을 저장하고 출력하시오.

In [133]:
a = "90:30:80"
math = a[:2]
english = a[3:5]
science = a[6:8]

math = int(math)
english = int(english)
science = int(science)

average = (math + english + science)/3
print(average)

66.66666666666667

### 문자열 포맷팅
#### 서식문자 이용하기

In [59]:
score = 95
a = "지훈이는 어제 수학시험에서 %s점을 맞았다." % score
print(a)

지훈이는 어제 수학시험에서 95점을 맞았다.

In [60]:
score = 95
a = "지훈이는 어제 수학시험에서 %10s점을 맞았다." % score
print(a)

지훈이는 어제 수학시험에서         95점을 맞았다.

In [61]:
score = 95
a = "지훈이는 어제 수학시험에서 %-10s점을 맞았다." % score
print(a)

지훈이는 어제 수학시험에서 95        점을 맞았다.

In [64]:
math = 95
english = 65
a = "지훈이는 어제 수학시험에서 %s점을 받았고, \n영어시험에서 %s 점을 받았다." % (math, english)
print(a)

지훈이는 어제 수학시험에서 95점을 받았고,
영어시험에서 65 점을 받았다.

#### format 함수 이용하기

In [68]:
math = 95
english = 65
a = "지훈이는 어제 수학시점에서 {0}점을 받았고, \n영어시험에서 {1}점을 받았다.".format(math, english)
print(a)

지훈이는 어제 수학시점에서 95점을 받았고,
영어시험에서65점을 받았다.

In [87]:
math = 95
english = 65
science = 40
a = """지훈이는 어제 수학시점에서 {0}점을 받았고, 
영어시험에서 {1}점을 받았다.
그리고 과학시험에서는 {science}점을 받았다.
수학시험 {0}점은 정말 잘했다고 생각한다.
""".format(math, english, science=science)

print(a)

지훈이는 어제 수학시점에서 95점을 받았고,
영어시험에서 65점을 받았다.
그리고 과학시험에서는 40점을 받았다.
수학시험 95점은 정말 잘했다고 생각한다.

In [88]:
print("수학점수 {0:>10} \n영어점수 {1:^10} \n과학점수 {science:<10}".format(math,english, science=science))

수학점수         95
영어점수     65
과학점수 40

In [91]:
math = 95.342212
# 공백 채우기
print("수학점수 {0:.>10.2f} \n영어점수 {1:=^10} \n과학점수 {science:-<10}".format(math, english, science=science))

수학점수 .....95.34
영어점수 ====65====
과학점수 40--------

### f문자열 포매팅
파이썬 3.6 버전부터는 f 문자열 포매팅 기능을 사용할 수 있다. 파이썬 3.6 미만 버전에서는 사용할 수 없는 기능이므로 주의해야 한다.  
다음과 같이 문자열 앞에 f 접두사를 붙이면 f 문자열 포매팅 기능을 사용할 수 있다.

In [92]:
math = 95
english = 65
science = 40
print(f"수학점수 {math} \n영어점수 {english} \n과학점수 {science}")

수학점수 95
영어점수 65
과학점수 40

In [94]:
print(f"수학점수 {math+5} \n영어점수 {english} \n과학점수 {science}")

수학점수 100
영어점수 65
과학점수 40

In [98]:
print(f"수학점수 {math:=>10} \n영어점수 {english:.^10} \n과학점수 {science:-<10}")

수학점수 ========95
영어점수 ....65....
과학점수 40--------

### 문자열 함수

#### count

In [106]:
a = "Impossible is impossible"
print(a.count('i'))
print(a.count('I'))

4
1

#### index

In [110]:
a.index('i')

6

In [112]:
a.index('a') # 에러 발생

ValueError: substring not found

#### upper & lower

In [113]:
a = "I am a boy"

In [115]:
print(a.upper())

I AM A BOY

In [116]:
print(a.lower())

i am a boy

#### strip

In [117]:
a = "   공백이 너무 많아요.      "

In [120]:
print(len(a))
print(a)

20
   공백이 너무 많아요.

In [122]:
b = a.strip()
print(len(b))
print(b)

print(a.lstrip())
print(a.rstrip())

11
공백이 너무 많아요.
공백이 너무 많아요.
   공백이 너무 많아요.

#### replace

In [123]:
a = "사랑은 돌아오는거야."
print(a)

사랑은 돌아오는거야.

In [124]:
b = a.replace("사랑", "우정")
print(b)

우정은 돌아오는거야.

#### split

In [2]:
scores = "10:20:50:80:88"
quotes = "I am a boy. you are a girl."

In [3]:
score = scores.split(":")
print(score)
print(type(score))

['10', '20', '50', '80', '88']
<class 'list'>

In [4]:
quote = quotes.split(' ')
print(quote)
print(type(quote))

['I', 'am', 'a', 'boy.', 'you', 'are', 'a', 'girl.']
<class 'list'>

In [12]:
quote2 = quotes.split()
print(quote2)

print(quote==quote2)

['I', 'am', 'a', 'boy.', 'you', 'are', 'a', 'girl.']
True

## 리스트 List
['I', 'am', 'a', 'boy.', 'you', 'are', 'a', 'girl.']

In [15]:
fruits = ['apple', 'grape', 'banana', 'melon', 'orange']
print(type(fruits))
print(fruits)

<class 'list'>
['apple', 'grape', 'banana', 'melon', 'orange']

In [16]:
len(fruits)

5

### index로 접근하기

In [23]:
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[3])
print(fruits[4])

apple
grape
banana
melon
orange

In [24]:
print(type(fruits[0]))

<class 'str'>

In [25]:
print(fruits[-1])
print(fruits[-2])
print(fruits[-3])
print(fruits[-4])
print(fruits[-5])

orange
melon
banana
grape
apple

In [28]:
print(fruits[:3])
print(fruits[3:])

['apple', 'grape', 'banana']
['melon', 'orange']

### 중첩 리스트

In [34]:
a = [1,2,3, [1.0, 2.0, 3.0, ['a','b','c']]]
print(a)

[1, 2, 3, [1.0, 2.0, 3.0, ['a', 'b', 'c']]]

In [35]:
print(len(a))

4

In [36]:
print(a[3])
print(a[3][3])

[1.0, 2.0, 3.0, ['a', 'b', 'c']]
['a', 'b', 'c']

### 리스트 연산

In [38]:
a = [1, 2, 3]
b = ['a', 'b', 'c']

In [39]:
print(a+b)

[1, 2, 3, 'a', 'b', 'c']

In [42]:
print(a*2)
print(b*5)

[1, 2, 3, 1, 2, 3]
['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

### 리스트 값 수정

In [49]:
a = [1, 2, 3]
print(a)

[1, 2, 3]

In [50]:
a[1] = 'b'
print(a)

[1, 'b', 3]

In [51]:
del a[1]

In [52]:
print(a)

[1, 3]

### 리스트 관련 함수

#### append

In [57]:
a = [1, 2, 3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [58]:
a.append('hello python')
print(a)

[1, 2, 3, 4, 'hello python']

In [59]:
a.append([1,2])
print(a)

[1, 2, 3, 4, 'hello python', [1, 2]]

#### sort

In [61]:
a = [1, 3, 5, 2, 4]
print(a)

[1, 3, 5, 2, 4]

In [62]:
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [66]:
a.sort(reverse=True)
print(a)

[5, 4, 3, 2, 1]

#### reverse

In [72]:
a = [5,3,2,1,4]
print(a)

[5, 3, 2, 1, 4]

In [75]:
a.reverse()
print(a)

[4, 1, 2, 3, 5]

#### index

In [70]:
a = ['a', 'b', 'c', 'd']
print(a)

['a', 'b', 'c', 'd']

In [71]:
a.index('b')

1

#### insert

In [79]:
a = [1, 2, 3, 4, 5]
a.insert(1,'a')
print(a)

[1, 'a', 2, 3, 4, 5]

In [80]:
a.insert(0, 'b')
print(a)

['b', 1, 'a', 2, 3, 4, 5]

####  remove

In [82]:
a = [1, 2, 3, 4, 5, 6]
a.remove(4)
print(a)

[1, 2, 3, 5, 6]

In [83]:
a = [1, 2, 3, 4, 5, 4, 4, 4]
a.remove(4)
print(a)

[1, 2, 3, 5, 4, 4, 4]

#### pop

In [85]:
a = [1, 2, 3, 4]
b = a.pop()
print(b)
print(a)

4
[1, 2, 3]

In [86]:
a = [1, 2, 3, 4]
b = a.pop(2)
print(b)
print(a)

3
[1, 2, 4]

#### count

In [89]:
a = [1, 2, 3, 4, 1, 1, 1]
print(a.count(1))
print(a.count(2))

4
1

####  extend

In [94]:
a = [1,2,3]
b = ['a','b','c']
a.extend(b)
print(a)

[1, 2, 3, 'a', 'b', 'c']

In [101]:
a = [1,2,3]
b = ['a','b','c']

a.extend(b)

# a.extend(b) a+=b 와 같음

[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3, 'a', 'b', 'c']

False

#### join 함수! (String)

In [206]:
fruit_list = ['apple', 'banana', 'grape']
# a-> '1,2,3,4,5'

fruits = ', '.join(a)
print(fruits)
print(type(fruits))

apple, banana, grape
<class 'str'>

## 튜플 - Tuple

In [1]:
a = (1, 2, 3)
b = ('a', 'b', 'c')

print(a)
print(type(a))

print(b)
print(type(b))

(1, 2, 3)
<class 'tuple'>
('a', 'b', 'c')
<class 'tuple'>

In [2]:
print(a[0])
print(a[1])
print(a[1:])

print(a+b)

print(b*3)

1
2
(2, 3)
(1, 2, 3, 'a', 'b', 'c')
('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [3]:
print(len(a))

3

In [4]:
# 오류 발생 TypeError
a[0] = 10

TypeError: 'tuple' object does not support item assignment

In [10]:
# 오류 발생 TypeError
del a[0]

TypeError: 'tuple' object doesn't support item deletion

#### 길이가 1인 튜플

In [6]:
c = (1)
print(type(c))

d = (1, )
print(type(d))

<class 'int'>
<class 'tuple'>

## 집합 - Set

In [7]:
s1 = set([1, 2, 3])
print(s1)
print(type(s1))

{1, 2, 3}
<class 'set'>

In [8]:
s2 = {1, 2, 3}
print(s2)
print(type(s2))

{1, 2, 3}
<class 'set'>

In [9]:
l1 = [1, 2, 3, 4, 1, 3, 4]
s1 = set(l1)

print(s1)

{1, 2, 3, 4}

### 집합 연산

In [138]:
# 집합 선언
s1 = {1, 2, 3}
s2 = {2, 4, 5}

In [139]:
# 교집합
print(s1 & s2)
print(s1.intersection(s2))

{2}
{2}

In [140]:
# 합집합
print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [11]:
# 차집합
print(s1 - s2)
print(s1.difference(s2))

{4}
{4}

## 딕셔너리 - Dictionary

In [12]:
jihun = {
    'name': 'Jihun, Kim',
    'age': 20,
    'birth': '0918',
    'height': 185.3,
    'friends': ['Sera', 'Mike', 'Younghee', 'Sana']
}

In [13]:
print(jihun)
print(type(jihun))

{'name': 'Jihun, Kim', 'age': 20, 'birth': '0918', 'height': 185.3, 'friends': ['Sera', 'Mike', 'Younghee', 'Sana']}
<class 'dict'>

In [14]:
print(jihun['name'])
print(jihun['age'])
print(jihun['birth'])
print(jihun['height'])
print(jihun['friends'])

Jihun, Kim
20
0918
185.3
['Sera', 'Mike', 'Younghee', 'Sana']

### 값 수정하기

In [15]:
jihun['age'] = 18
print(jihun)
print(jihun['age'])

{'name': 'Jihun, Kim', 'age': 18, 'birth': '0918', 'height': 185.3, 'friends': ['Sera', 'Mike', 'Younghee', 'Sana']}
18

In [16]:
jihun['dream'] = 'Presdient'

In [17]:
print(jihun)
print(jihun['dream'])

{'name': 'Jihun, Kim', 'age': 18, 'birth': '0918', 'height': 185.3, 'friends': ['Sera', 'Mike', 'Younghee', 'Sana'], 'dream': 'Presdient'}
Presdient

In [18]:
del jihun['height']

In [19]:
print(jihun)

{'name': 'Jihun, Kim', 'age': 18, 'birth': '0918', 'friends': ['Sera', 'Mike', 'Younghee', 'Sana'], 'dream': 'Presdient'}

### Dictionary 함수들

In [180]:
jihun = {
    'name': 'Jihun, Kim',
    'age': 20,
    'birth': '0918',
    'height': 185.3,
    'friends': ['Sera', 'Mike', 'Younghee', 'Sana']
}

##### keys()

In [183]:
jihun_keys = jihun.keys()
print(jihun_keys)
print(list(jihun_keys))

dict_keys(['name', 'age', 'birth', 'height', 'friends'])
['name', 'age', 'birth', 'height', 'friends']

##### values()

In [185]:
jihun_values = jihun.values()
print(jihun_values)

dict_values(['Jihun, Kim', 20, '0918', 185.3, ['Sera', 'Mike', 'Younghee', 'Sana']])

##### items()

In [187]:
jihun_items = jihun.items()
print(jihun_items)

dict_items([('name', 'Jihun, Kim'), ('age', 20), ('birth', '0918'), ('height', 185.3), ('friends', ['Sera', 'Mike', 'Younghee', 'Sana'])])

##### clear()

In [188]:
jihun.clear()

In [189]:
print(jihun)

{}

##### Key로 접근

In [7]:
jihun = {
    'name': 'Jihun, Kim',
    'age': 20,
    'birth': '0918',
    'height': 185.3,
    'friends': ['Sera', 'Mike', 'Younghee', 'Sana']
}

In [9]:
# key로 접근
print(jihun['age'])

20

In [10]:
# Key가 없을 경우
# KeyError 발생

print(jihun['weight'])

KeyError: 'weight'

##### get 함수 사용

In [11]:
jihun_name = jihun.get('name')
print(jihun_name)

Jihun, Kim

In [12]:
jihun_weight = jihun.get('weight')
print(jihun_weight)

None

In [13]:
# get('<key>', <default>)
jihun_weight = jihun.get('weight', 72)
print(jihun_weight)

72

##### 실제 dictionary의 값이 바뀌는 건 아님.

In [14]:
jihun

{'name': 'Jihun, Kim',
 'age': 20,
 'birth': '0918',
 'height': 185.3,
 'friends': ['Sera', 'Mike', 'Younghee', 'Sana']}