In [2]:
'''a="  90:30:80  "이고 :을 기준으로 각각 수학점수, 영어점수, 과학점수이다. 
문자열 함수를 이용해 공백을 제거하고,  
각 점수를 각각 math, english, science 변수에 저장한 후,
average 란 변수에 평균값을 저장하고 출력하시오.
'''

a="  90:30:80  "
a.strip()
b= a.split(':')

math = int(b[0])
english = int(b[1])
science = int(b[2])

average = (math + english + science)/3

print(average)

66.66666666666667